.container {
  padding: 20px;
}

#dice-cup {
  list-style-type: none;
}

.die {
  display: inline-block;
  float: left;
  border: 2px gray solid;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  width: 10%;
  font-size: .7em;
  text-align: center;
}

.die button {
  font-size: 0.7em;
}

#die-adder button {
  font-size: 0.7em;
}

#die-adder input {
  width: 25px;
  font-size: 1em;
}