#dice-cup ul {
  list-style-type: none;
}

.die {
  display: inline-block;
  float: left;
  border: 2px gray solid;
  padding: 5px;
  margin: 5px;
  width: 30%;
  font-size: 2em;
  text-align: center;
}

.die button {
  font-size: 1em;
}