#dice-cup {
  list-style-type: none;
}

.die {
  display: inline-block;
  float: left;
  border: 2px gray solid;
  padding: 5px;
  margin: 5px;
  width: 10%;
  font-size: .7em;
  text-align: center;
}

.die button {
  font-size: 0.7em;
}

#add-die {
  font-size: 0.7em;
}